<div class="row text-left">
  <div class="col-12">
    <div class="content-header">Customers</div>
  </div>
</div>
<section id="extended" *ngIf="data">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <a class="info p-0 text-success pull-right" data-original-title="" title="" (click)="openCustomerCreateModal()">
              <i class="ft-plus-circle font-medium-5 mr-2"></i>
            </a>
            <table class="table table-responsive-md text-center">
              <thead>
              <tr>
                <th>Full Name</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Date of Death</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Residency</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let customer of data.content">
                <td>{{customer.fullName}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.dateOfBirth}}</td>
                <td>{{customer.dateOfDeath ? customer.dateOfDeath : 'N/A'}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.mobileNo}}</td>
                <td>{{customer.residency}}</td>
                <td>
                  <a class="success p-0 text-warning" data-original-title="" title="" (click)="openCustomerUpdateModal(customer)">
                    <i class="ft-edit-2 font-medium-3 mr-2"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-10">
                <ngb-pagination *ngIf="totalPages > 1"
                                [collectionSize]="totalElements"
                                [(page)]="page"
                                [maxSize]="6"
                                [pageSize]="itemsPerPage"
                                [rotate]="true"
                                [boundaryLinks]="true"
                                (pageChange)="onPageChange(page)">
                </ngb-pagination>
              </div>
              <div class="col-2">
                <select name="itemsPerPage" id="itemsPerPage" (change)="onItemsPerPageChange($event)"
                        [(ngModel)]="itemsPerPage" class="form-control">
                  <option *ngFor="let itemsPerPageOption of itemsPerPageOptions"
                          value="{{itemsPerPageOption.value}}">
                    {{itemsPerPageOption.label}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
