<ngx-datatable [contentEditable]="true" [rows]="accounts" class="bootstrap" [loadingIndicator]="loadingIndicator"
               [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
               [reorderable]="reorderable">
  <ngx-datatable-column name="Balance">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-balance'] = true"
              *ngIf="!editing[rowIndex + '-balance']"
            >
              {{ value }}
            </span>
      <input
        class="form-control"
        autofocus
        (blur)="updateValue($event, 'balance', rowIndex)"
        *ngIf="editing[rowIndex + '-balance']"
        type="number"
        [value]="value"
      />
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Currency">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-currency'] = true"
              *ngIf="!editing[rowIndex + '-currency']"
            >
              {{ value }}
            </span>
      <select
        class="form-control"
        *ngIf="editing[rowIndex + '-currency']"
        (blur)="editing[rowIndex + '-currency'] = false"
        (change)="updateValue($event, 'currency', rowIndex)"
        [value]="value"
      >
        <option value="EUR" selected="selected">EUR</option>
        <option value="GBP">GBP</option>
        <option value="USD">USD</option>
        <option value="RON">RON</option>
      </select>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Restricted">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
         <span
           title="Double click to edit"
           (dblclick)="editing[rowIndex + '-restricted'] = true"
           *ngIf="!editing[rowIndex + '-restricted']"
         >
              {{ value }}
            </span>
      <select
        class="form-control"
        *ngIf="editing[rowIndex + '-restricted']"
        (blur)="editing[rowIndex + '-restricted'] = false"
        (change)="updateValue($event, 'restricted', rowIndex)"
        [value]="value"
      >
        <option value="false" selected="selected">false</option>
        <option value="true">true</option>
      </select>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-footer>
    <ng-template ngx-datatable-footer-template>
      <button type="button" class="btn btn-success col-12" (click)="addRow()"><span style="color: white">Add new row</span></button>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>

